// 颜色定义规范
$color-theme = #5cbc7d
$color-theme-d = #eaf4eb
$color-sub-theme = #ff4660
$color-control = #00b51d
$color-text = #000
$color-text-d = #a3a3a3
$color-text-l = #777777

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
