// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #fafafa
$color-dialog-background = #666
$color-theme = #5cbc7d
$color-theme-d = #eaf4eb
$color-sub-theme = #ff4660
$color-control = #00b51d
$color-text = #000
$color-text-d = #a3a3a3
$color-text-l = #777777
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
